@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 블라인드 처리 */
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}



.todo_wrap {
  max-width: 700px;
  min-height: 60vh;
  margin: 30px auto;
  border:3px solid rgb(224, 219, 239);
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.12);

  @media (max-width: 767px) {
    margin-top: 0;
  }
}


.todo_header {
  display: block;
  padding: 12px 4px;
 
  background-color: rgb(224, 219, 239);
}

.todo_header h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}

.todo_cont {
  padding: 10px;
}

.todo_cont .input_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 10px 20px;

  input {
    width: calc(100% - 60px);
    height: 40px;
    padding: 0;
    text-indent: 14px;
    font-size: 16px;
    line-height: 32px;
    border: 1px solid #9986b3;
    border-radius: 50px;
    outline: none; 
  }

  .add_btn {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0;
    background-color:#6c5a72;
    box-sizing: border-box;
    border-radius: 50%;
    outline: none;
    &:before {
      content:'';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      translate:-50% -50%;
      width: 24px;
      height: 24px;
      background-image: url(./assets/images/icon_plus_24.png);
    }
    &:active, &:hover {
      background-color: #9986b3;
    }
  }
}

.list_wrap {
  min-height: 40vh;
  max-height: 50vh;
  overflow-y: auto;
  padding: 20px 10px;
  border-top: 2px dashed rgb(224, 219, 239);

  /* 스크롤바 전체 기본 꾸미기 */
  &::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  /* 스크롤바 막대 꾸미기 */
  &::-webkit-scrollbar-thumb {
    background: #6c5a72;
    border: 2px solid #6c5a72;
    border-radius: 10px;
  }

  /* 스크롤바 트랙 꾸미기 */
  &::-webkit-scrollbar-track {
    background: rgb(224, 219, 239);
  }

  &::-webkit-scrollbar-button{
    display: none;
  }
}

.list_wrap .todo_list {
  max-width: 400px;
  margin: 0 auto;

}

.todo_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid rgb(224, 219, 239);
}

.todo_label {
  display: flex;
  width: calc(100% - 32px);
  margin-right: 12px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
}
.todo_label .todo_chkbox {
  display: none;
}

.todo_label .chkmark {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #9986b3;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.todo_label .todo_chkbox:checked + .chkmark {
  background-color: #9986b3;
  border-color: #9986b3;
}

.todo_label .todo_chkbox:checked + .chkmark::after {
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: 1px solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.todo_label .todo_text {
  display: inline-block;
  width: calc(100% - 30px);
  word-wrap: break-word;
  line-height: 1.25;
}

.todo_label .todo_chkbox:checked + .chkmark + .todo_text {
  text-decoration: line-through;
  color: gray;
}

.todo_list li .delete_btn {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &:after {
    content:'';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 24px;
    height: 24px;
    background-image: url(./assets/images/icon_delete_24.png);
  }

  &:active, &:hover {
    background-color: rgb(224, 219, 239, 0.5);
  }
}

.all_delbtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 42px;
  margin:40px auto 10px;
  padding: 10px;
  background-color:#6c5a72;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  
  span {
    color: #fff;
    font-weight: 400;
  }
  &:active, &:hover {
    background-color: #9986b3;
  }
}